{% extends "main.html" %} {% block content %} {% include "class/header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ teacher.name }} <small>{{classroom.name}}</small>
			<figure class="creator">
				<img src="{{teacher.picture}}">
				<figcaption>Teacher</figcaption>
			</figure>
        </h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col-md-10">
        <h3>Current Classes:</h3>
    </div>
    {% for row in classother %}
        <div class="col-md-3">
            <a href="{{url_for('room', teacher_id = teacher.id, room_id = row.id)}}">
                <button class="btn-sm btn-primary" id="classroom">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    Name: {{ row.name }}
                    <br />
                    Grade: {{ row.grade }}
                </button></a>
        </div>
    {% endfor %}
</div>
{% if students !=[] %}
    <h2 id="students">
        Students
        <span class="badge">
            {{ students.count() }}
        </span>
       <small>
            with
        </small>
        <span class="badge">
            {{ books|count }} books read
        </span>
    </h2>
    <div class="row">
        {% for student in students %}
            <div class="col-md-1"></div>
            {% if student.classes.teacher_id %}
                <a href="{{url_for('student', student_id = student.id, teacher_id = student.classes.teacher_id)}}">
            {% endif %}
                    <div class="col-md-2 menu-item">
                        {{student.name}}
                        <span class="badge">
                            {{student.books|count}} read
                        </span>
                    </div>
                </a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
