{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row top-menu">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right"></div>
</div>
<div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <h1>Schools</h1>
    </div>
</div>
<div class="row divider blue">
    <div class="col-md-12"></div>
</div>
<div class="row padding-top padding-bottom">
</div>
{% for school in schools %}
    <a href="{{url_for('school', school_id = school.id)}}">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 restaurant-list">
                <h3>{{school.name}}
                    <small>
                        {{school.state}}<br />
                        County: {{school.county}}
                        District: {{school.district}}
                    </small>
                </h3>
            </div>
            <div class="col-md-1"></div>
        </div>
    </a>
{% endfor %}
{% endblock %}
