{% extends "main.html" %} {% block content %} {% include "student/header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner student">
    <div class="col-md-11 col-md-offset-1 padding-bottom">
        <h1>{{ student.name }} <small style="color: white">{{books.count()}} of 40 read so far</small>
			<figure class="creator">
				<img src="{{student.picture}}">
				<figcaption style="color: white">Student</figcaption>
			</figure>
           <br />
           <a href="{{url_for('room', teacher_id = teacher_id, room_id = student.classroom)}}">
            <button class="btn-sm btn-primary" id="new-book">
                <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                    Classroom
            </button></a>
        </h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col-md-1 padding-none">&nbsp;</div>
    <div class="col-md-10 padding-none">
        <h4>Genre List:<a href="#" data-toggle="tooltip" title="A negative number means you still need to read select something from this genre.  A positive number means you have read more of that genre than required. If nothing is shown, your teacher hasn't yet made a list for you."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a><br /></h4>
    </div>
    <div class="col-md-12">
       {% for g in genre %}
            <span class="col-md-4">Graphic Novel/ Comic ({{graph-g.graphic}})</span>
            <span class="col-md-4">Historical Fiction ({{hist-g.historical}})</span>
            <span class="col-md-4">Fantasy ({{fan-g.fantasy}})</span>
            <span class="col-md-4">Poetry/ Verse Novel ({{poetry-g.poetry}})</span>
            <span class="col-md-4">Realistic Fiction ({{real-g.realistic}})</span>
            <span class="col-md-4">Science Fiction ({{sci-g.scifi}})</span>
            <span class="col-md-4">Mystery Fiction ({{myst-g.mystery}})</span>
            <span class="col-md-4">Informational Non-fiction ({{info-g.info}})</span>
            <span class="col-md-4">Biography/ Autobiography ({{bio-g.bio}})</span>
        {% endfor %}
    </div>
</div>
{% if books !=[] %}
    <div class="row">
        <!-- Graphic Novel -->
        <!--  Check whether any book exists in a particular genre  -->
        {% for book in books if book.genre == 'graphic' %}
            <!--  Run the loop only once to display the heading once  -->
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Graphic Novel
                        <span class="badge">
                          {{graph}} of
                            {% for g in genre %}
                                {{g.graphic}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <!--  Display each book with the parameter given. Loop until none remain  -->
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'graphic' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <!--  End once loop  -->
        {% endfor %}
        <!--  End full for loop, Skip if none exists  -->
        <!--  Historical Fiction  -->
        {% for book in books if book.genre == 'historical' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Historical
                        <span class="badge">
                        {{hist}} of
                        {% for g in genre %}
                            {{ g.historical}} Read
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                           {% if book.genre == 'historical' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Fantasy  -->
        {% for book in books if book.genre == 'fantasy' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Fantasy
                       <span class="badge">
                       {{fan}} of
                        {% for g in genre %}
                            {{g.fantasy}} Read
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'fantasy' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Poetry  -->
        {% for book in books if book.genre == 'poetry' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Poetry / Verse Novel
                       <span class="badge">
                           {{poetry}} of
                            {% for g in genre %}
                                {{g.poetry}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'poetry' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Realistic  -->
        {% for book in books if book.genre == 'realistic' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Realistic
                       <span class="badge">
                           {{real}} of
                            {% for g in genre %}
                                {{g.realistic}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'realistic' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Science Fiction  -->
        {% for book in books if book.genre == 'scifi' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Science Fiction
                        <span class="badge">
                        {{sci}} of
                        {% for g in genre %}
                            {{g.scifi}} Read
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'scifi' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Mystery  -->
        {% for book in books if book.genre == 'mystery' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Mystery
                        <span class="badge">
                           {{myst}} of
                            {% for g in genre %}
                                {{g.mystery}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'mystery' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Informational -->
        {% for book in books if book.genre == 'info' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Informational
                        <span class="badge">
                           {{info}} of
                            {% for g in genre %}
                                {{g.info}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'info' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Biography/ Autobiography  -->
        {% for book in books if book.genre == 'bio' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Biography / Autobiography
                        <span class="badge">
                           {{bio}} of
                            {% for g in genre %}
                                {{g.bio}} Read
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'bio' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
