{% extends "main.html" %} {% block content %} {% include "school/header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner school">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ school.name }}
			<a href="{{url_for('editschool', school_id=school_id)}}">
				<button class="btn-xs btn-warning" id="edit-school">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Edit School
				</button></a>
			<a href="{{url_for('deleteschool', school_id=school_id)}}">
				<button class="btn-xs btn-danger delete" id="delete-school">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					Delete School
				</button></a>
			<br /><a href="{{url_for('newstudent', school_id=school_id)}}">
				<button class="btn-sm btn-success" id="new-student">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Add New Student
				</button></a>
			<a href="{{url_for('newteacher', school_id=school_id)}}">
				<button class="btn-sm btn-success" id="new-teacher">
					<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
					Add New Teacher
				</button></a>
        </h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="row  padding-bottom">
    <div class="col-md-1"></div>
</div>
{% if students !=[] %}
    <h2 id="students">
        Students
        <span class="badge">
            {{ students.count() }}</span>
        <small>
            with</small>
        <span class="badge">
            {{ books|count }} books read
        </span>
    </h2>
    <div class="row">
        {% for student in students %}
            <div class="col-md-1"></div>
            {% if student.classes.teacher_id %}
                <a href="{{url_for('student', student_id = student.id, teacher_id = student.classes.teacher_id)}}">
            {% endif %}
            <div class="col-md-2 menu-item">
                {{student.name}}
                <span class="badge">
                    {{student.books|count}} read
                 </span><br />
                <a href="{{url_for('editstudent', school_id=school.id, user_id=student.id)}}">
                    <button class="btn-xs btn-warning" id="edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            edit
                    </button></a>
                <a href="{{url_for('deletestudent', school_id = school.id, user_id = student.id)}}">
                    <button class="btn-xs btn-danger" id="delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            delete
                    </button></a>
            </div>
            </a>
        {% endfor %}
    </div>
{% endif %}
<div class="row">
    {% if teachers !=[] %}
        <h2 id="teachers">
            Teachers
            <span class="badge">
                {{ teachers.count() }}
            </span>
        </h2>
        {% for teacher in teachers %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <a href="{{url_for('classroom', teacher_id=teacher.id)}}">
                        <div class="menu-item">
                            {{ teacher.name }}
                            <a href="{{url_for('editteacher', school_id=school.id, teacher_id=teacher.id)}}">
                                <button class="btn-xs btn-warning" id="edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        edit
                                </button></a>
                            <a href="{{url_for('deleteteacher', school_id=school.id, teacher_id=teacher.id)}}">
                                <button class="btn-xs btn-danger" id="delete">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        delete
                                </button></a>
                        </div>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
