{% extends "main.html" %} {% block content %} {% include "student/header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ student.name }} <small>{{books.count()}} of 40 read so far</small>
			<figure class="creator">
				<img src="{{student.picture}}">
				<figcaption>Student</figcaption>
			</figure>
        </h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <a href="{{url_for('newbook', student_id = student.id)}}">
            <button class="btn-sm btn-success" id="new-book">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Add New Book
            </button></a>
    </div>
    <div class="col-md-7"></div>
</div>
{% if books !=[] %}
    <div class="row">
        <!-- Graphic Novel -->
        <!--  Check whether any book exists in a particular genre  -->
        {% for book in books if book.genre == 'graphic' %}
            <!--  Run the loop only once to display the heading once  -->
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Graphic Novel
                        <span class="badge">
                            {% for g in genre %}
                                {{g.graphic}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <!--  Display each book with the parameter given. Loop until none remain  -->
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'graphic' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <!--  End once loop  -->
        {% endfor %}
        <!--  End full for loop, Skip if none exists  -->
        <!--  Historical Fiction  -->
        {% for book in books if book.genre == 'historical' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Historical
                        <span class="badge">
                        {% for g in genre %}
                            {{ g.historical}} Needed
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                           {% if book.genre == 'historical' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Fantasy  -->
        {% for book in books if book.genre == 'fantasy' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Fantasy
                       <span class="badge">
                        {% for g in genre %}
                            {{g.fantasy}} Needed
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'fantasy' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Poetry  -->
        {% for book in books if book.genre == 'poetry' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Poetry / Verse Novel
                       <span class="badge">
                            {% for g in genre %}
                                {{g.poetry}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'poetry' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Realistic  -->
        {% for book in books if book.genre == 'realistic' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Realistic
                       <span class="badge">
                            {% for g in genre %}
                                {{g.realistic}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'realistic' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Science Fiction  -->
        {% for book in books if book.genre == 'scifi' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Science Fiction
                        <span class="badge">
                        {% for g in genre %}
                            {{g.scifi}} Needed
                        {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'scifi' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Mystery  -->
        {% for book in books if book.genre == 'mystery' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Mystery
                        <span class="badge">
                            {% for g in genre %}
                                {{g.mystery}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'mystery' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Informational -->
        {% for book in books if book.genre == 'info' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Informational
                        <span class="badge">
                            {% for g in genre %}
                                {{g.info}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'info' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
        <!--  Biography/ Autobiography  -->
        {% for book in books if book.genre == 'bio' %}
            {% if loop.index == 1 %}
                <div class="col-md-12">
                    <h2>Biography / Autobiography
                        <span class="badge">
                            {% for g in genre %}
                                {{g.fantasy}} Needed
                            {% endfor %}
                        </span>
                    </h2>
                    <ol>
                        {% for book in books %}
                            {% if book.genre == 'bio' %}
                                <div class="menu-item col-md-12">
                                    <div class="panel panel-default col-md-10">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <li>{{book.title}}</li>
                                                <small>Author: {{book.author}}</small>
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            {{book.review}}
                                        </div>
                                    </div>
                                    {% if book.image is none %}
                                        <div class="col-md-2"></div>
                                    {% else %}
                                        <div class="col-md-2"><img src={{book.image}} height="150"></div>
                                    {% endif %}
                                    <div class="col-md-10">
                                        <a href="{{url_for('editbook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-warning" id="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                edit
                                            </button></a>
                                        <a href="{{url_for('deletebook', student_id = student.id, book_id = book.id)}}">
                                            <button class="btn-xs btn-danger" id="edit">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                delete
                                            </button></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
