{% extends "main.html" %}
{% block content %}
{% include "class/header.html" %}
<div class="text-center">
    <h1 style="color: red"> Are you sure you want to delete the list:<br />
    {{alist.name}}? <br />
    <small>Warning!  This cannot be undone.</small></h1>
    <form action="#" method = 'post'>
        <button type="submit" class="btn-danger" id="submit">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete </button>
        <a href = "{{url_for('genre', teacher_id = teacher.id)}}">
            <button type="button" class="btn-default" id="cancel">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Cancel </button></a>
    </form>
</div>
{% endblock %}
