{% extends "main.html" %} {% block content %} {% include "class/header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ teacher.name }} <small>{{classroom.name}}</small>
			<figure class="creator">
				<img src="{{teacher.picture}}">
				<figcaption>Teacher</figcaption>
			</figure>
        </h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col-md-10">
        <h3>Current Classes:</h3>
    </div>
    {% for row in classother %}
        <div class="col-md-3">
            <a href="{{url_for('room', teacher_id = teacher.id, room_id = row.id)}}">
                <button class="btn-sm btn-primary" id="classroom">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    Name: {{ row.name }}
                    <br />
                    Grade: {{ row.grade }}
                </button></a>
        </div>
    {% endfor %}
</div>
{% if lists !=[] %}
    <h2 id="genre-lists">
        Lists
        <span class="badge">
            {{ lists.count() }}
        </span>
    </h2>
    <div class="row">
        {% for list in lists %}
            <div class="col-md-1"></div>
            {{ list.name }}
                <table>
                  <tr>
                    <th>Graphic Novel</th>
                    <th>Historical Fiction</th>
                    <th>Fantasy</th>
                    <th>Poetry/ Verse Novel</th>
                    <th>Realistic Fiction</th>
                    <th>Science Fiction</th>
                    <th>Mystery Fiction</th>
                    <th>Informational Non-fiction</th>
                    <th>Biography/ Autobiography</th>
                    <th>No. pages for 2</th>
                  </tr>
                  <tr>
                    <td>{{list.graphic}}</td>
                    <td>{{list.historical}}</td>
                    <td>{{list.fantasy}}</td>
                    <td>{{list.poetry}}</td>
                    <td>{{list.realistic}}</td>
                    <td>{{list.scifi}}</td>
                    <td>{{list.mystery}}</td>
                    <td>{{list.info}}</td>
                    <td>{{list.bio}}</td>
                    <td>{{list.pages}}</td>
                  </tr>
                </table>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
