{% extends "main.html" %}
{% block content %}
{% include "student/header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner student">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Add a book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
			    <input name=_csrf_token type=hidden value="{{ gentoken() }}">
				<div class="form-group">
					<label for="title">Title:<a href="#" data-toggle="tooltip" title="The full name of your book goes here.  If you are unsure what to type, ask your teacher or librarian for help."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></label>
					<input type ="text" class="form-control" maxlength="250" name="title" placeholder="" autofocus required>
                <br/><label for="author">Author:<a href="#" data-toggle="tooltip" title="The Author of your book goes here.  If there is more than one author, type them all, or ask your teacher or librarian for help."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></label>
				<input type ="text" class="form-control" maxlength="80" name="author" placeholder="" required>
				<br/><label for="genre">Genre:<a href="#" data-toggle="tooltip" title="The category your book falls into goes here. Some books can fit into more than one category, so choose the best one for this particular book.  If you are unsure, ask your teacher or librarian for help."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></label>
				<select name='genre'>
                    <option value="bio">Biography / Autobiography</option>
	                <option value="fantasy">Fantasy Fiction</option>
	                <option value="graphic">Graphic Novel / Comics</option>
	                <option value="historical">Historical Fiction</option>
	                <option value="info">Informational Non-fiction</option>
	                <option value="mystery">Mystery Fiction</option>
	                <option value="poetry">Poetry / Verse Novel</option>
	                <option value="realistic">Realistic Fiction</option>
	                <option value="scifi">Science Fiction</option>
                </select>
				<br/><label for="image">Picture:<a href="#" data-toggle="tooltip" title="This section is for you to place a link to a picture of the cover of your book. Try goodreads.com or wikipedia, or try a google search. If you don't know how to copy the best link, ask your teacher or librarian for help."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></label>
				<input type ="text" class="form-control" maxlength="250" name="image" placeholder="Type or copy the full URL of the book cover here">
				<br/><label for="review">Review:<a href="#" data-toggle="tooltip" title="While this section is typically for your thoughts about this book, your teacher or librarian may wish for you to give a short summary instead. Ask them for help if you are unsure."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></label>
				<textarea class="form-control" rows="5"  cols="50" name="review" placeholder="Maximum Length 250 characters" maxlength="250" id="textarea" required></textarea>
				<small id="char_count"></small></div>
				<div class="padding-bottom">
					<button type="submit" class="btn-success" id="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = "{{url_for('student', student_id = student.id, teacher_id = student.classes.teacher_id)}}">
                        <button type="button" class="btn-default" id="cancel">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                        </button></a>
				</div>
			</form>
		</div>
        <!--  Script for character count of Review Section -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='charcount.js') }}"></script>
	</div>
{% endblock %}
